<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TipBot_BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TipBot_BL.Properties.Settings>
      <setting name="DiscordToken" serializeAs="String">
        <value />
      </setting>
      <setting name="PriceCheckChannel" serializeAs="String">
        <value>458146332029353996</value>
      </setting>
      <setting name="TipBotChannel" serializeAs="String">
        <value>460734356919681024</value>
      </setting>
      <setting name="FantasyChannel" serializeAs="String">
        <value>486492693787312129</value>
      </setting>
      <setting name="GuildId" serializeAs="String">
        <value>456496645371199500</value>
      </setting>
      <setting name="QT_IP" serializeAs="String">
        <value />
      </setting>
      <setting name="QT_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="QT_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="BaseCurrency" serializeAs="String">
        <value>MYNT</value>
      </setting>
      <setting name="ExplorerPrefix" serializeAs="String">
        <value>http://69.164.213.228:3001/tx/</value>
        <value>https://chain.myntcurrency.org/tx/</value>
      </setting>
      <setting name="ExplorerSuffix" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>109568</value>
      </setting>
        <value>Help support the developer funds, by donating or mining to MVT2AJDK7CYTtWo5fX9u48eQT5ynWPyFFd</value>
      </setting>
    </TipBot_BL.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
  <add name="FantasyPortfolio_DBEntities" connectionString="metadata=res://*/FantasyPortfolio.FantasyPortfolio.csdl|res://*/FantasyPortfolio.FantasyPortfolio.ssdl|res://*/FantasyPortfolio.FantasyPortfolio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FantasyPortfolio_Mynt_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>